/*   Main CSS file for Hosterr   */

/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Specifying Colors */
:root {
	--primary-color: #f9f4e8;
	--grey: #706f6d;
	--grey-hover: #3b3b3b;
	--blue: #4977ea;
	--blue-hover: #3668e7;
	--white: #fff;
	--black: #000;
}

body {
	background-color: #f9f4e8;
	font-family: Arial, Helvetica, sans-serif;
}

/* <!-- Nav Bar Start --> */
#main_nav_bar {
	margin: 1rem auto;
	padding: 10px 1rem;
}
.center_nav {
	margin: 0 auto;
}
.hiring_button {
	background: linear-gradient(to right, rgb(219, 219, 13), rgb(221, 0, 0));
	color: #fff;
	padding: 4px 8px;
	border-radius: 15px;
	margin-left: 10px;
	font-size: 11px;
	transition: 0.2s;
}
#mobile_menu {
	display: none;
}
/* <!-- Nav Bar End --> */

/* Utilities */
.d_flex {
	display: flex;
	flex-wrap: wrap;
}
.center {
	align-items: center;
	justify-content: center;
}
.center_y {
	align-items: center;
}
.link {
	color: #706f6d;
	font-size: 15px;
	padding: 5px 10px;
	margin: 0 5px;
	transition: 0.2s;
}
.link:hover {
	color: #3b3b3b;
}
.button {
	background: #4977ea;
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	margin-left: 5px;
	transition: 0.2s;
	font-size: 13px;
}
.button:hover {
	background: #3668e7;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.container {
	max-width: calc(900px + 10vw);
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	#main_nav_bar {
		display: none;
	}
	/* Mobile Menu */
	#mobile_menu {
		display: flex;
		position: relative;
		padding: 10px 1rem;
		overflow-x: hidden;
	}
	.logo {
		height: 20px;
		/* padding: 10px; */
	}
	.mobile_logo li {
		padding: 0px 2rem !important;
	}
	.hiring_button {
		background: linear-gradient(to right, rgb(219, 219, 13), rgb(221, 0, 0));
		color: #fff;
		padding: 4px 8px;
		border-radius: 15px;
		margin-left: 0;
		font-size: 11px;
		transition: 0.2s;
	}

	.mobile_menu_links {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
	}
	.mobile_menu_links {
		flex-direction: column;
		margin: auto 0;
		background: rgb(141, 141, 255);
		clip-path: circle(100px at 100% -8%);
		-webkit-clip-path: circle(100px at 100% -8%);
		transition: all 1s ease-out !important;
		pointer-events: none;
	}
	.mobile_menu_links li {
		padding: 1rem 3rem;
		opacity: 0;
	}

	/* Call to action buttons */
	.cta {
		flex-direction: row !important;
	}
	.cta li {
		padding: 0 !important;
	}

	/* for Animations in menu bar */
	.mobile_menu_links.open {
		clip-path: circle(1500px at 100% -8%);
		-webkit-clip-path: circle(1500px at 100% -8%);
		pointer-events: all;
	}

	.mobile_menu_links li:nth-child(1) {
		transition: all 0.5s ease 0.1s;
	}
	.mobile_menu_links li:nth-child(2) {
		transition: all 0.5s ease 0.2s;
	}
	.mobile_menu_links li:nth-child(3) {
		transition: all 0.5s ease 0.3s;
	}
	.mobile_menu_links li:nth-child(4) {
		transition: all 0.5s ease 0.4s;
	}
	.mobile_menu_links li:nth-child(5) {
		transition: all 0.5s ease 0.5s;
	}
	li.fade {
		opacity: 1;
	}
	.link {
		color: #fff;
	}

	/* Menu Icon */
	.hamburger {
		cursor: pointer;
		width: 50px;
		height: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		right: 1%;
		top: 50%;
		transform: translate(-5%, -50%);
		z-index: 10;
		transition: 0.4s all;
	}
	.hamburger .line {
		background: #000;
		width: 30px;
		height: 3px;
		display: block;
		margin: 3px;
		transition: 0.3s all;
		cursor: pointer;
	}

	.hamburger.active span:nth-child(1) {
		transform: rotate(45deg);
		position: absolute;
	}

	.hamburger.active span:nth-child(2) {
		transition: 0.3s;
		opacity: 0;
		transform: translateX(20px);
	}

	.hamburger.active span:nth-child(3) {
		transform: rotate(-45deg);
		position: absolute;
	}
}

/* Main Body Start */
#main_body {
	margin: calc(3rem + 10vh) auto;
}
.heading_area {
	width: 30rem;
}
.heading_area h1 {
	font-family: "Martel", serif;
	font-size: 2.5rem;
	font-weight: 800;
	line-height: 3rem;
	letter-spacing: -1px;
	padding: 5px 0;
}
.heading_area p {
	padding-right: 4rem;
}
.heading_area form input {
	padding: 15px;
	border-radius: 5px;
	border: none;
	outline: none;
	font-size: 15px;
	margin: 10px 0;
}
.noSpam {
	align-items: center;
}
.noSpam img {
	height: 20px;
	padding-right: 10px;
}
.image_area {
	margin-left: 50%;
	position: relative;
}
.image_area img {
	height: 350px;
	position: absolute;
	top: -40px;
	right: 0;
}
.image_area img:nth-child(1) {
	z-index: 10;
}
.image_area img:nth-child(2) {
	z-index: 5;
	transform: rotate(320deg);
}
.image_area img:nth-child(3) {
	z-index: 6;
	transform: rotate(332deg);
}
.image_area img:nth-child(4) {
	z-index: 7;
	transform: rotate(344deg);
}
/* Main Body End */

/* Footer Start */
#footer {
	align-items: center;
	margin: 1rem auto;
}
.chat {
	margin-left: auto;
	color: var(--black);
}
.chat img {
	padding: 0 10px;
}
/* Footer End */
